.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #2a2c39;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);

}

.container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container .form h2 {
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.container .form .inputbox {
    position: relative;
    width: 300px;
}

.container .form .inputbox input, textarea {
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #2a2c39;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;
}

.container .form .inputbox span {
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: all 0.5s;
    letter-spacing: 0.05em;
}

.container .form .inputbox input:valid~span,
.container .form .inputbox input:focus~span,
textarea:valid~span,
textarea:focus~span {
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: #2a2c39;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em !important;
    padding: 0 8px !important;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

.container .form .inputbox input:valid,
.container .form .inputbox input:focus,
textarea:valid,
textarea:focus {
    border: 1px solid hsl(173, 100%, 44%);
}

.container .form .inputbox i {
    position: absolute;
    top: 15px;
    left: 16px;
    padding: 2px 0;
    padding-right: 8px;
    color: #00dfc4;
    border-right: 1px solid #00dfc4;
}

.container .form .inputbox input[type="submit"] {
    background: #00dfc4;
    color: #292b38;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;

    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}