.skills {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 40%;
    flex-wrap: wrap;


}

.skills>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stitle {
    border-bottom: 1px solid white;
}

.scard {
    font-family: sans-serif;
    width: 350px;
    height: 350px;
    background-color: #c4edff2b;
    border: 1px solid white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: all 0.9s;
    position: relative;

}



.ss:hover .scard {
    color: black;
    transform: rotateY(180deg);
    background-color: white;

    border: 2px solid rgb(0, 0, 0);
}



.ss:hover .sdet {

    display: flex;
    transform: rotateY(180deg);

}

.sname {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ss:hover .sname {
    display: none;
}

.sname>i{
    font-size: 25px;
    color: black;
}

.sdet {
    display: none;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;

}

.sdet>span {
    margin-bottom: 5px;
    font-size: 30px;
}