.works {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: rgba(192, 214, 214, 0.462);
    padding-top: 20px;
}

.works>h2 {
    padding: 10px;
    border: 1px solid white;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-name: borderanima;
}

@keyframes borderanima {
    0% {
        border-top: 2px solid rgba(0, 0, 0, 0.564);
        border-bottom: 2px solid rgba(0, 0, 0, 0.26);
        border-left: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgba(7, 7, 7, 0.795);
    }

    50% {
        border-top: 2px solid rgba(0, 0, 0, 0.26);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgba(7, 7, 7, 0.795);
        border-right: 2px solid rgba(0, 0, 0, 0.564);
    }

    100% {
        border-top: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgba(7, 7, 7, 0.795);
        border-left: 2px solid rgba(0, 0, 0, 0.564);
        border-right: 2px solid rgba(0, 0, 0, 0.26);
    }
}

.work {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 50%;
}

.webs {
    width: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s;
    border: 1px solid rgba(0, 0, 0, 0);

}

.webs:hover {
    border: 1px solid black;
}

.webs>a {
    color: black;
    font-weight: bold;
}